{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

<!-- <link rel="stylesheet" href="{% static 'base\css\new_login.css' %}"> -->
{% block content %}
  <div class="card">
    </form>
        <form class="field" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">Log in</button>
      </form>
      <p>Dont have an account? <a class="btn-link" href="{% url 'register' %}">Register Here</a></p>
  </div>
{% endblock %}