{% extends 'main.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'task_update.css' %}">
{% endblock %}


{% block content %}
    <div class="form-container">
        <a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="back-link">Go Back</a>

        <form method="POST" class="update-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Update</button>
        </form>
    </div>
{% endblock %}
